---
// Component Imports
import Lay from '../components/Lay.svelte';
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>Marc's Portfolio</title>
</head>

<body>
<video autoplay muted loop id="myVideo">
	<source src="BG_new.mp4" type="video/mp4">
</video>
<Lay/>
</body>

</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@300;700&family=Xanh+Mono&display=swap');
	*{
		box-sizing: border-box;
	}
	html,
	body {
		font-family: system-ui;
		margin: 0;
		padding: 0;
		background-color: #030003;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		line-height: 1.1;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 200;
		color: #d85a31;
	}
	#myVideo {
		position: fixed;
		opacity: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 100vw;
		min-height: 100vh;
	}
</style>
