---
import Landing from '../components/Landing.astro';
import Layout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
---

<Landing/>

<Layout title="Marc Gutzwiller">
	<main>
		<About/>
		<Work/>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1.5rem;
		/*max-width: 60ch;*/
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background-color: #ecdeff;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {

	}
	.link-card-grid {
		width: 50%;
		position: relative;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
