
<!--landing-page*****************************************************************************************************-->
<div id="landing-container" class="container-fluid">
    <div id="landing-focus-shadow"></div>
    <div id="landing-focus">
        <p id="marc">MARC</p>
        <br>
        <p id="gutzwiller">GUTZWILLER</p>
        <br>
        <p id="creative-developer">Creative Developer</p>

        <div class='icon-scroll'><div/>

    </div>
</div>
<!--landing-page*****************************************************************************************************-->

<style>
    #landing-container{
        position: relative;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    #landing-focus{
        z-index: 0;
        position: absolute;
        width: 95%;
        height: 90vh;
        top: 5vh;
        left: 2.5%;
        border-radius: 20px;
        background-color: #23223b;
        /*background-image: linear-gradient(to bottom right, #A9E5BB00, #292933);*/
    }
    #landing-focus-shadow{
        z-index: 0;
        position: absolute;
        width: 95%;
        height: 90vh;
        top: 5vh;
        left: 2.5%;
        border-radius: 20px;
        box-shadow: 10px 10px 15px #0f0f1f;
    }
    #marc {
        position: inherit;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: #d85a31;
        font-size: 8vw;
        top: 10vw;
        left: 7%;
    }
    #gutzwiller {
        position: inherit;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        z-index: 2;
        color: #e35b38;
        font-size: 8vw;
        top: 15.7vw;
        left: 10.8%;
    }
    #creative-developer {
        position: inherit;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 70;
        z-index: 2;
        color: #e15b38;
        font-size: 4vw;
        top: 25vw;
        left: 16%;
    }
    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        left: 50%;
        top: 85%;
    }


    .icon-scroll {
        width: 2rem;
        height: 3.8rem;
        box-shadow: inset 0 0 0 3px rgba(57, 57, 57, 0.8);
        border-radius: 25px;
    }


    .icon-scroll:before {
        content: '';
        width: 1rem;
        height: 1rem;
        background: rgb(255, 133, 29);
        margin-left: -8px;
        top: 1vh;
        border-radius: 50%;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }


    @keyframes scroll {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
            transform: translateY(4vh);
        }
    }
    hr{
        border-top: 1px solid #A9E5BB;
        border-radius: 20px;
        opacity: 0.3;
    }
</style>